name: Test CI

on:
    push:
        branches-ignore:
            - gh-pages
            - browser
    pull_request:
        branches:
            - "*"
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - run: |
                  npm list -g eslint
                  npm test
